# maven-frontend-plugin:
/node

# Dependencies:
/node_modules
/.pnp
.pnp.js

# Testing:
/coverage

# Production:
/dist

# Verschiedenes:
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
